<svg fill="none" viewBox="0 0 {{xaxisW}} 150" width="{{xaxisW}}" height="150" xmlns="http://www.w3.org/2000/svg">
    <foreignObject width="100%" height="100%">

        <div xmlns="http://www.w3.org/1999/xhtml">
            <style>
                svg {
                    cursor: pointer;

                }

                #bars rect,
                circle,
                #percent {

                    animation: fadeInUp 5s ease forwards;
                    animation-delay: calc(var(--order)*100ms);
                    opacity: 0;
                }


                @keyframes fadeInUp {

                    /* we don't want the elements to appear in the first 10% of the animation as the fadeout(transform: translateY(100%);) is visible */
                    10% {
                        opacity: 0;
                        transform: translateY(100%);
                    }

                    /* from 30 to 100 we want the actual fadeInUp animation */
                    30%,
                    100% {
                        opacity: 1;
                        transform: translateY(0%);

                    }
                }


            </style>


            <svg width="{{xaxisW}}" height="150" viewBox="0 0 {{xaxisW}} 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Frame 1">
                    <rect width="267" height="150" fill="white" />
                    <line id="xaxis" x1="0" y1="149.5" x2="{{xaxisW}}" y2="149.5" stroke="black"
                        stroke-opacity="0.1" />
                    <g id="bars">
                        {{#bars}}
                        <g id="bar{{idx}}" style="--order:{{idx}}">
                            <line id="line" x1="{{lineX}}" y1="{{lineY1}}" x2="{{lineX}}" y2="{{lineY2}}" stroke="black"
                                stroke-opacity="0.1" />
                            <rect id="poll" x="{{rectX}}" y="{{rectY}}" width="{{rectW}}" height="{{rectH}}"
                                fill="{{{color}}}" />
                            <circle id="top" cx="{{cirX}}" cy="{{cirY}}" r="{{cirR}}" fill="{{{color}}}" />
                            <text x="{{textX}}" y="20" font-family="Verdana, Georgia, serif" font-size="5" fill="black" style="writing-mode: vertical-lr;text-orientation: upright;">{{langName}}</text>
                            <text x="{{textX}}" y="130" font-family="sans-serif, Georgia, serif" font-size="5" fill="black" style="writing-mode: vertical-lr;">{{percentage}} %</text>

                        </g>
                        {{/bars}}
                        
                    </g>

                </g>
            </svg>

        </div>

    </foreignObject>
</svg>